<div class='guard-modal-form'>
  <div class='guard-modal-row'>
    <label><i class='fas fa-tag'></i> Título</label>
    <input
      type='text'
      id='skill-title'
      name='title'
      value='{{title}}'
      placeholder='Ej: Rastrear, Negociar, Intimidar...'
      required
    />
  </div>

  <div class='guard-modal-row'>
    <label><i class='fas fa-diamond'></i> Coste de Hope (0-5)</label>
    <input
      type='number'
      id='skill-hope-cost'
      name='hopeCost'
      value='{{hopeCost}}'
      min='0'
      max='5'
      required
    />
  </div>

  <div class='guard-modal-row'>
    <label><i class='fas fa-align-left'></i> Descripción</label>
    <textarea name='skill-description' placeholder='Describe la habilidad...'>{{description}}</textarea>
  </div>
</div>
