<div class='skill-content'>
  <div class='form-group'>
    <label for='skill-title'>Título</label>
    <input
      type='text'
      id='skill-title'
      name='title'
      value='{{title}}'
      placeholder='Ej: Rastrear, Negociar, Intimidar...'
      required
    />
  </div>

  <div class='form-group'>
    <label for='skill-hope-cost'>Coste de Hope (0-5)</label>
    <input
      type='number'
      id='skill-hope-cost'
      name='hopeCost'
      value='{{hopeCost}}'
      min='0'
      max='5'
      required
    />
  </div>

  <div class='form-group stacked'>
    <label for='skill-description'>Descripción</label>
    <prose-mirror name="skill-description" value="{{description}}">
      {{{description}}}
    </prose-mirror>
  </div>
</div>
