<div class='trait-content'>
  <div class='form-group'>
    <label for='trait-title'>Título</label>
    <input
      type='text'
      id='trait-title'
      name='title'
      value='{{title}}'
      placeholder='Ej: Valiente, Estratega, Impulsivo...'
      required
    />
  </div>

  <div class='form-group stacked'>
    <label for='trait-description'>Descripción</label>
    <prose-mirror name='trait-description' value='{{description}}'>
      {{{description}}}
    </prose-mirror>
  </div>
</div>