<div class='guard-modal-form'>
  <div class='guard-modal-row'>
    <label><i class='fas fa-tag'></i> Título</label>
    <input
      type='text'
      id='trait-title'
      name='title'
      value='{{title}}'
      placeholder='Ej: Valiente, Estratega, Impulsivo...'
      required
    />
  </div>

  <div class='guard-modal-row'>
    <label><i class='fas fa-align-left'></i> Descripción</label>
    <textarea name='trait-description' placeholder='Describe la característica...'>{{description}}</textarea>
  </div>
</div>
